<header>
    <div class="wrapper">
        <div class="headerlogo"><a href="index.html"><img src="images/Logo/LogoHorizontal.png"> </a></div>

        <div class="headersearchbar">
            <div>
                <input type="search" placeholder="Search stuff">
                <button><img src="images/icons/search.png"></button>

            </div>
        </div>

        <div class="headerbuttongroup">
            <a href="login.html>"><button class="coloredbutton">Sign in</button></a>
            <a href="register.html"><button>Register</button></a>

            <a href=""cart.html><button class="cart"><img src="images/icons/shoppingcart.png"> </button></a>
        </div>


    </div>
</header>