<header>
    <div class="wrapper">
        <div class="headerlogo"><a href="../index.html"><img src="../images/Logo/LogoHorizontal.png"> </a></div>

        <div class="headersearchbar">
            <div>
                <input type="search" placeholder="Search stuff">
                <button><img src="../images/icons/search.png"></button>

            </div>
        </div>

        <div class="headerbuttongroup">
            <a href="../users/login"><button class="coloredbutton">Sign in</button></a>
            <a href="../users/register"><button>Register</button></a>
            <a href="../users/profile"><button>Profile</button></a>
            <a href="../users/cart.html"><button class="cart"><img src="../images/icons/shoppingcart.png"> </button></a>
        </div>


    </div>
</header>