<!doctype html>
<html class="no-js" lang="">
<head>
{{ >partials/head}}
<link rel="stylesheet" href="../stylesheets/skdslider.css">
</head>
<body onload="loadProducts()">

{{ >partials/header}}

<ul id="bannerslider" class="slides">
    <li> <img src="images/slides/ee88a90dccea4d82b38bd08e7ed1d4f9.webp" />
        <!--Slider Description example-->
        <div class="slide-desc">
            <h2>Slider Title 1</h2>
            <p>Buy the game pls <a class="more" href="#">more</a></p>
        </div>
    </li>
    <li><img src="images/slides/gaming-wallpapers-2.jpg" style="z-index: -1"/>
        <div class="slide-desc">
            <h2>Slider Title 2</h2>
            <p>pls buy <a class="more" href="#">more</a></p>
        </div>
    </li>
    <li><img src="images/slides/rainbow-clipart-wallpaper-9.jpg" style="z-index: -2"/>
        <!--NO Description Here-->
    </li>
</ul>

<div class="wrapper">
    <section></section>
    <!-- Add your site or application content here <ul id="productlist">
     <a href="#" class="btn btn-default" role="button">Button</a>-->
    <ul id="cart"></ul>

    <ul id="productlist"></ul>
    <p>Add Categories</p>
    <p>Display products to the right???</p>

</div>
{{ >partials/footer }}

{{ >partials/scripts }}

<script src="javascripts/skdslider.js"></script>
<script>


    jQuery(document).ready(function(){

        jQuery('#bannerslider').skdslider({delay:5000, animationSpeed: 1000,'pauseOnHover': true, showNextPrev:true,showPlayButton:false, showNav: true, autoSlide:false,animationType:'sliding'});



    });

</script>



<script>

    function loadProducts(){

              $.get("/products", function( data ) {
                      $('#productlist').html(data);

                  $(".addToCart").click(function(){
                      console.log(this.id);
                      $.post("/",
                          {
                              productID: this.id
                          },
                          function(data){
                              $('#cart').html(data);
                          });
                  });

                  });
     };



</script>
</body>
</html>
